:root {
    --gris-claro: rgb(220, 220, 220);
	--gris-claro-alpha: rgba(220, 220, 220, 0.6);
    --body-fondo: #8F7F00;
    --body-fondoOscuro: #352f01;
    --body-fondoClaro: #b9a404;
    --gris-gradientClaro: #CCC;
    --gris-gradientMedio: #777;
    --gris-gradientOscuro: #222;
    --scores-textShadow: #BBB;
    --color-puntos: rgb(225, 236, 18);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(var(--body-fondo), var(--body-fondoClaro));
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.contenedor__main {
	width: fit-content;
	height: inherit;
	background-color: inherit;
	display: block;
}

/*----------------------------------------------------------------
CONTENEDORES < SCORE & BOTONES CONTROLES >
----------------------------------------------------------------*/
.contenedor2 {
	border: solid black;
	border-width: 2px 2px 0 2px;
	border-radius: 7px 7px 0 0;
	font-size: 26px;
	font-weight: bold;
	text-shadow: 1px 1px 1px --var(--scores-textShadow);
	color: var(--color-puntos);
	background: linear-gradient(var(--gris-gradientMedio), var(--gris-gradientOscuro));
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contenedor2__invisible {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scores {
	display: flex;
}

.botonesControl {
	display: none;
	border-radius: 5px;
	border: none;
	background: none;
}

.score .nivel .vidas {
	width: fit-content;
	height: fit-content;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	text-align: center;
}

.nivel {
	color: lightgreen;
}

.vidas {
	color: lightblue;
}

/*---------------------------------------------------------
CANVAS
---------------------------------------------------------*/
#canvas {
	border: 2px solid black;
}

/*---------------------------------------------------------
BOTONES < CONTROLES & NUEVA PARTIDA >
---------------------------------------------------------*/
.boton {
	width: fit-content;
	height: fit-content;
	border-radius: 6px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	padding: 5px 25px 7px 25px;
	outline: none;
}

.boton:active {
	transform: translate(-2px, -4px);
}

.NewGame {
	display: flex;
	color: #FFFFA5; 
	background-color: #ff3010;
	text-shadow: 2px 2px 2px black;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
}

.NextLevel {
	display: none;
	margin: 1% 0;
	padding-left: 10%;
	padding-right: 10%;
	color: bisque;
	background-color: royalblue;
	text-shadow: 2px 2px 2px black;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
	animation: botonNextLevelAnima 1.0s steps(20) infinite;
}

.controles {
	height: 90px;
	color: black;
	border-radius: 6px;
	background: linear-gradient(#CCC, #777);
	font-size: 30px;
	font-weight: bold;
	box-shadow: inset -3px -2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}

#boton__up {
	width: 100%;
	border-radius: 90% 90% 0 0;
}

#boton__do {
	width: 100%;
	border-radius: 0 0 90% 90%;
}

#boton__le, #boton__ri {
	width: 49%;
}

.flecha__direccion {
	box-sizing: content-box;
	width: 1px;
	height: 1px;
	border: 20px solid;
}

.arriba {
	border-color: transparent transparent black transparent;
	margin: 0 0 7% 0;
}

.izquierda {
	border-color: transparent black transparent transparent;
}

.derecha {
	border-color: transparent transparent transparent black;
}

.abajo {
	border-color: black transparent transparent transparent;
	margin: 7% 0 0 0;
}

@keyframes botonNextLevelAnima {
	0% {
		padding-left: 7%;
		padding-right: 7%;
		background-color: royalblue;
	}
	
	100% {
		padding-left: 15%;
		padding-right: 15%;
		background-color: yellowgreen;
	}
}

/*---------------------------------------------------------
RESPONSIVE
---------------------------------------------------------*/
@media (max-width: 799px) {
	#canvas {
		width: 600px;
		height: 320px;
	}

	.contenedor__main {
		width: 600px;
	}

	.contenedor2 {
		font-size: 18px;
	}

	.boton {
		width: 90px;
		font-size: 12px;
		padding: 4px;
	}

	.NextLevel {
		width: fit-content;
		padding-left: 10%;
		padding-right: 10%;
	}

	.botonesControl {
		width: 100%;
		height: 180px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	#boton__up, #boton__do{
		display: none;
	}
}

@media (max-width: 599px) {
	#canvas {
		width: 420px;
		height: 320px;
	}

	.contenedor__main {
		width: 420px;
	}

	.NextLevel {
		width: fit-content;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 424px) {
	#canvas {
		width: 360px;
		height: 320px;
	}

	.contenedor__main {
		width: 360px;
	}

	.contenedor2 {
		font-size: 16px;
	}

	.contenedor2__invisible {
		font-size: 16px;
	}

	.NextLevel {
		width: fit-content;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 374px) {
	#canvas {
		width: 310px;
		height: 320px;
	}

	.contenedor__main {
		width: 310px;
	}

	.contenedor2 {
		font-size: 14px;
	}

	.contenedor2__invisible {
		font-size: 14px;
	}

	.NextLevel {
		width: fit-content;
		padding-left: 10%;
		padding-right: 10%;
	}
}
